@layer components {
  .play-btn {
    @apply absolute inset-0 z-10 block w-20 h-20 m-auto origin-center bg-black bg-opacity-50 border border-white rounded-full cursor-pointer hover:scale-125 hover:bg-opacity-80;

    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;

    &::after {
      @apply absolute inset-0 block w-0 h-0 m-auto;

      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 10px 0 10px 16px;
      content: '';
    }
  }
}
