{% extends "layouts/base.twig" %}

{% block content %}

	{% include "partials/flex-content.twig" %}

	{% if post.content %}
		<div class="spacer">
			<div class="container">
				{{ post.content }}
			</div>
		</div>
	{% endif %}

{% endblock %}
