{% extends "layouts/base.twig" %}

{% block content %}
	<div class="section spacer">

		<div class="container">
			<div class="max-w-4xl mx-auto text-center">
				<h2 class="type-h3">The page you requested has moved or doesn't exist.</h2>
				<p>Looks like nothing was found at this location. Check the address or go back to the
					<a href="{{ site.url }}">homepage</a>.</p>
			</div>
		</div>

	</div>
{% endblock %}
